.photo {
  position: relative;

  &:hover {
    & .image {
      opacity: 0.3;
    }
    & .author {
      visibility: visible;
    }
  }

  & .author {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    visibility: hidden;
  }
}

.image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 20%;
}
